Lecture1: 
    - Print function
    - Print function parameter like separator, end
    - Type of values in python
             - int
             - float
             - bool
            - string 
            - mathematical operators in python
            - Logical operators

##### Python Class1

This is our first class of python programming

In [5]:
print("I m python")

I m python

print("Hello")

# Print Function

In [3]:
print("Hello we are pyhoniares")

Hello we are pyhoniares

In [4]:
print(10000)

10000

In [5]:
print(1,2,3,4,5,6,7,8,9,0)

1 2 3 4 5 6 7 8 9 0

In [13]:
print("Nasir", 100, 21.6, end='')
print('ABC')

Nasir 100 21.6ABC

# Type of values

Numbers       
   - whole numbers  (integers)(int)
   - decimal        (floats) (float)
   
Alphabets

     -"strings "      (str)

In [ ]:
print()

In [14]:
age = 23
#variableName assignment operator  integer value
# 23 an integer value is assigned to a variable age

In [15]:
print(age)

23

In [16]:
print(age)

23

In [17]:
id(age)

140709332558928

In [18]:
type(age)

int

In [24]:
age + 10

43

In [22]:
age = age + 10

In [25]:
age

33

In [1]:
weight = 100

In [2]:
weight

100

In [3]:
weight + 100

200

In [4]:
weight

100

In [5]:
weight = weight + 1
print(weight)

101

In [6]:
weight

101

In [8]:
print(Hello)

NameError: name 'Hello' is not defined

In [10]:
print("weight")

weight

# Python variable naming conventions

In [11]:
name = "Nasir Hussain"

In [12]:
father_name  = ""

In [13]:
fatherName=  ""

In [14]:
1stStudent = ""

SyntaxError: invalid syntax (<ipython-input-14-218820136fac>, line 1)

In [15]:
student1 = " "

In [17]:
father-name= ""

SyntaxError: can't assign to operator (<ipython-input-17-7bb27182a10c>, line 1)

In [9]:
str = "Helo"

In [19]:
True = 12

SyntaxError: can't assign to keyword (<ipython-input-19-abb8adb6eb95>, line 1)

# Operators
   - + 
   - - 
   - * 
   - / or //
   - %

In [20]:
2 + 2 
#int  int additional

4

In [21]:
"Hello" + "Python"
#concatenation

'HelloPython'

In [22]:
"Hello" - "Python"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [23]:
10/10

1.0

In [24]:
10/3

3.3333333333333335

In [25]:
10//3

3

In [27]:
print(type("8"))

<class 'str'>

In [ ]:
help(int)

In [29]:
12/5

2.4

In [31]:
12%6

0

# Boolean Operators
 - > 
 - < 
 - ==
 - <= 
 - >=
 - !=

In [32]:
23>12

True

In [33]:
12>23

False

In [34]:
12==12

True

In [35]:
12!=12

False

In [36]:
12>=10

True

In [37]:
12<=13

True

# logical operator 
   - and
   - or 
   - not

True = 1
False = 0

 res1    res2        and              or 

True     True        True             True
True     False       False            True   
False    True        False            True
False    False       False            False

In [42]:
a = 200
b = 200

a<=b and a==b and a>b
 #1        1       0

False